In [1]:
# importando a biblioteca pandas para realizar a manipulação do dataframe.
import pandas as pd

# Criando uma variável de caminho.
caminho = r'C:\Users\guilh\OneDrive\Área de Trabalho\Coding\Portif_git\Car_sales\Dados\CarPrice_Assignment.csv'

# Carregando e exibindo o dataframe
db= pd.read_csv(caminho)
db.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [2]:
# Verificando a quantidade de NaN no dataframa
db.isna().sum().sum()

0

In [3]:
#Verificando se temos dados duplicados
db.duplicated().sum()

0

In [4]:
# Verificando os tipos de variáveis.
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

#### Como temos uma grande variedade de variáveis, é necessário realizar algumas modificações uma vez que precisamos que elas sejam do tipo numérica.

In [5]:
# Estou removendo essas três colunas (Variáveis), pois são desnecessária para nossa finalidade.
db.drop(['car_ID', 'symboling', 'CarName'], axis = 1, inplace = True)

In [6]:
# Investigando resultados das variáveis que apresentam tipo "object".
print(db['fueltype'].unique())
print(db['aspiration'].unique())
print(db['carbody'].unique())
print(db['drivewheel'].unique())
print(db['enginelocation'].unique())
print(db['enginetype'].unique())
print(db['cylindernumber'].unique())
print(db['doornumber'].unique())
print(db['fuelsystem'].unique())

['gas' 'diesel']
['std' 'turbo']
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
['rwd' 'fwd' '4wd']
['front' 'rear']
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
['two' 'four']
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

In [7]:
#Selecionando todas as variáveis catégorias 
db_cat = db.select_dtypes(include=['object'])

In [8]:
# Importando um encoder para as variáveis categóricas.
import category_encoders as ce

# Aplicando a função para classificar cada categoria de forma numérica.
encoder = ce.OrdinalEncoder(cols=db_cat)                               
db = encoder.fit_transform(db)
db

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,1,1,1,1,1,88.6,168.8,64.1,48.8,...,130,1,3.47,2.68,9.0,111,5000,21,27,13495.0
1,1,1,1,1,1,1,88.6,168.8,64.1,48.8,...,130,1,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,2,1,1,94.5,171.2,65.5,52.4,...,152,1,2.68,3.47,9.0,154,5000,19,26,16500.0
3,1,1,2,3,2,1,99.8,176.6,66.2,54.3,...,109,1,3.19,3.40,10.0,102,5500,24,30,13950.0
4,1,1,2,3,3,1,99.4,176.6,66.4,54.3,...,136,1,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,1,2,3,1,1,109.1,188.8,68.9,55.5,...,141,1,3.78,3.15,9.5,114,5400,23,28,16845.0
201,1,2,2,3,1,1,109.1,188.8,68.8,55.5,...,141,1,3.78,3.15,8.7,160,5300,19,25,19045.0
202,1,1,2,3,1,1,109.1,188.8,68.9,55.5,...,173,1,3.58,2.87,8.8,134,5500,18,23,21485.0
203,2,2,2,3,1,1,109.1,188.8,68.9,55.5,...,145,7,3.01,3.40,23.0,106,4800,26,27,22470.0
204,1,2,2,3,1,1,109.1,188.8,68.9,55.5,...,141,1,3.78,3.15,9.5,114,5400,19,25,22625.0

In [9]:
# Verificando se todos são do tipo numérico.
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fueltype          205 non-null    int32
 1   aspiration        205 non-null    int32
 2   doornumber        205 non-null    int32
 3   carbody           205 non-null    int32
 4   drivewheel        205 non-null    int32
 5   enginelocation    205 non-null    int32
 6   wheelbase         205 non-null    float64
 7   carlength         205 non-null    float64
 8   carwidth          205 non-null    float64
 9   carheight         205 non-null    float64
 10  curbweight        205 non-null    int64
 11  enginetype        205 non-null    int32
 12  cylindernumber    205 non-null    int32
 13  enginesize        205 non-null    int64
 14  fuelsystem        205 non-null    int32
 15  boreratio         205 non-null    float64
 16  stroke            205 non-null    float64
 17  compressionratio  205 non-null    float64
 18  horsepower        205 non-null    int64
 19  peakrpm           205 non-null    int64
 20  citympg           205 non-null    int64
 21  highwaympg        205 non-null    int64
 22  price             205 non-null    float64
dtypes: float64(8), int32(9), int64(6)
memory usage: 29.8 KB

In [10]:
# Criando um caminho para salvar o dataframe.
salva = r'C:\Users\guilh\OneDrive\Área de Trabalho\Coding\Portif_git\Car_sales\Datasets\dbr.csv'

# Salve o DataFrame 
db.to_csv(salva, index=False)